body {
    margin: 0;
    font-family: 'Twemoji', 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    Arial, "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Twemoji";
    font-style: normal;
    src: local(""),
    url("assets/fonts/Twemoji.Mozilla.woff2") format("woff2");
    unicode-range: U+1F1E6-1F1FF, U+1F3F3-1F3F4, U+E0001-E007F;
}